@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .theme-default {
    @apply text-gray-900 bg-white dark:bg-gray-900 dark:text-gray-100;
  }

  .btn-default {
    @apply text-gray-700 bg-white hover:bg-gray-100 dark:bg-gray-900 dark:hover:bg-gray-700 dark:text-gray-200;
  }

  .focus-default {
    @apply focus:outline-none focus:ring-1 focus:ring-primary-500 focus:border-primary-500;
  }

  .error {
    @apply text-red-900 placeholder-red-300 border-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500 dark:text-red-600 !important;
  }
}

.min-h-main {
  --header-height: 93px;
  min-height: calc(100vh - var(--header-height));
}

button:disabled {
  opacity: 0.7;
  cursor: default;
}

.dark {
  background-color: rgb(17 24 39);
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(17 24 39);
  }
}
