@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .focus-default {
    @apply focus:outline-none focus:ring-1 focus:ring-yellow-500 focus:border-yellow-500;
  }

  .error {
    @apply text-red-900 placeholder-red-300 border-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500 !important;
  }
}

.min-h-main {
  --header-height: 93px;
  min-height: calc(100vh - var(--header-height));
}

button:disabled {
  opacity: 0.7;
  cursor: default;
}
